.page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    padding: 20px;
}

.up{
    height: 20vh;
    /* border: 1px solid gray; */
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 20%;
    /* height: 100vh; */
    /* border-right: 1px solid gray; */
    display: flex;
}
.right{
    width: 80%;
    /* height: 100vh; */
    display: flex;
}