.topbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-right: 20px;
}

.icon{
    padding: 5px;
}

.profile{
    margin-left: 20px;
}

.profile-picture {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the desired height */
    border-radius: 50%; /* Create a circular profile picture */
    object-fit: cover; /* Ensure the image covers the entire container */
    margin-right: 10px; /* Add some margin for spacing */
  }